html {
  background-image: url(https://images.unsplash.com/photo-1603437873662-dc1f44901825?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60),
    linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 4%;
}

h1 {
  font-size: 33px;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-top: 0px;
  margin-left: 2rem;
  margin-top: 37px;
  margin-bottom: 20px;
}

#weather-conditions {
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
  line-height: 1.2;
  margin-left: 2rem;
  margin-top: -1rem;
  padding: 0%;
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin-top: 6rem;
  margin-bottom: 0.2rem;
  margin: auto;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

li::first-letter {
  text-transform: capitalize;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  caret-color: #303c4e;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 4rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

#currentPosition {
  width: 40%;
  height: 2.8rem;
  background: #f5e487;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  font-size: 0.9rem;
  margin: auto;
  display: block;
}

#icon {
  width: 120px;
  height: 120px;
}

#current-temp {
  color: black;
  font-size: 33px;
  margin-top: 4rem;
}

#units {
  position: relative;
  font-size: 15px;
  top: -10px;
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

#humidity {
  color: black;
}

#wind {
  color: black;
}

#weather5 {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 1rem;
}
